<!-- BEGIN: Subheader -->
<div class="" appunwraptag="">
	<div class="m-subheader-search" style="padding-bottom: 0;">
		<div class="row">
			<div class="col-md-1">
				<img src="./assets/eventalliance/media/img/users/user4.jpg" style="border-radius: 50%;" alt="" />
			</div>
			<div class="col-md-10">
				<p style="color: #fff;margin: 0;">
					Town of Fasico
				</p>
				<h1 style="font-size: 2.8rem;font-weight: 400;color: #fff;margin: 0;">
					Colorado BBQ Challenge
				</h1>
				<span style="color:#fff;">6/02/2018 - 8/02/2018</span>&nbsp;
				<span class="m-badge m-badge--primary m-badge--wide" style="background-color: #204d66; ">
					Pending
				</span>&nbsp;
				<span class="m-badge m-badge--primary m-badge--wide" style="background-color: #204d66; ">
					Quote Request
				</span>
				<br/>
				<!-- start menu -->

				<ul class="nav nav-tabs  m-tabs-line  m-tabs-line--2x m-tabs-line--white" style="margin-bottom:-1px;" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link " data-toggle="tab" routerLink="/event-summary" role="tab">
							<small>Summary</small>
						</a>
					</li>

					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link active" data-toggle="tab" routerLink="/event-approval" role="tab">
							<small>Approval</small>
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" routerLink="/event-public-survey" role="tab">
							<small>Public Survey</small>
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" routerLink="/event-picks" role="tab">
							<small>Picks</small>
						</a>
					</li>

				</ul>
				<!-- end menu -->
			</div>
			<div class="col-md-1">
				<div>   
					<!-- <i class="fa fa-edit"></i>      -->
				</div>                
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-md-12">
			<div class="m-portlet m-portlet--bordered-semi  m-portlet--fit">				
				<div class="m-portlet__body">
					<table class="table" >						
						<tr>
							<th width="20%">
								<strong>Artist</strong>
							</th>
							<th>
								<div class="event-approval-td-div">
									<img src="./assets/eventalliance/media/img/users/user4.jpg" class="event-approval-table-img"/>
									<br/>
									<strong>Public Approval</strong><br/>
									<small>Approval % (Total Voters)</small>
								</div>								
							</th>
							<th>
								<div class="event-approval-td-div">
									<img src="./assets/eventalliance/media/img/users/user4.jpg" class="event-approval-table-img"/>
									<br/>
									<strong>Team Approval</strong><br/>
									<small>Progress 63%</small>
								</div>
							</th>
							<th>
								<div class="event-approval-td-div">
									<img src="./assets/eventalliance/media/img/users/user4.jpg" class="event-approval-table-img"/>
									<br/>
									<strong>Nora Gilbertstone</strong><br/>
									<small>Team Owner</small>
								</div>
							</th>
							<th>
								<div class="event-approval-td-div">
									<img src="./assets/eventalliance/media/img/users/user4.jpg" class="event-approval-table-img"/>
									<br/>
									<strong>Niki Smith</strong><br/>
									<small>Team Reviewer</small>
								</div>
							</th>
							<th>
								<div class="event-approval-td-div">
									<img src="./assets/eventalliance/media/img/users/user4.jpg" class="event-approval-table-img"/>
									<br/>
									<strong>Peter John</strong><br/>
									<small>Team Reviewer</small>
								</div>
							</th>
							<th>
								<div class="event-approval-td-div">
									<img src="./assets/eventalliance/media/img/users/user4.jpg" class="event-approval-table-img"/>
									<br/>
									<strong>Mike OBrien</strong><br/>
									<small>EA Account Rep.</small>
								</div>
							</th>
							<th>&nbsp;</th>
						</tr>						
						<tbody>

							<tr>
								<td>
									<div class="float-left">
										<img src="./assets/eventalliance/media/img/users/user4.jpg" style="border-radius: 50%; height:50px; width:50px; margin-right: 15px;"  alt="" />
									</div>
									<div class="float-left">
										<strong>
											<a routerLink="/artist-details" class="m-menu__link">
												<span class="m-menu__item-here"></span>
												<span class="m-menu__link-text">
													Franz Ferdinand
												</span>
											</a>
										</strong>
										<br/>
										<small>Folk, Blues</small>
									</div>									
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										91%(220)
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										66%
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										66%
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										91%(256)
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--metal m-badge--wide" >
										75%
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										66%
									</span>
								</td>
								<td>
									<i class="fa fa-ellipsis-h"></i>
								</td>
							</tr>

							<tr >
								<td>
									<div class="float-left">
										<img src="./assets/eventalliance/media/img/users/user4.jpg" style="border-radius: 50%; height:50px; width:50px; margin-right: 15px;"  alt="" />
									</div>
									<div class="float-left">
										<strong>
											<a routerLink="/artist-details" class="m-menu__link">
												<span class="m-menu__item-here"></span>
												<span class="m-menu__link-text">
													Franz Ferdinand
												</span>
											</a>
										</strong>
										<br/>
										<small>Folk, Blues</small>
									</div>									
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										84%(220)
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										56%
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										<i class="fa fa-check"></i>
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--danger m-badge--wide" >
										<i class="fa fa-times"></i>
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--metal m-badge--wide" >
										<i class="fa fa-question"></i>
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										<i class="fa fa-check"></i>
									</span>
								</td>
								<td>
									<i class="fa fa-ellipsis-h"></i>
								</td>
							</tr>




							<tr *ngFor="let index of [0,1,2,3,4,5]">
								<td>
									<div class="float-left">
										<img src="./assets/eventalliance/media/img/users/user4.jpg" style="border-radius: 50%; height:50px; width:50px; margin-right: 15px;"  alt="" />
									</div>
									<div class="float-left">
										<strong>
											<a routerLink="/artist-details" class="m-menu__link">
												<span class="m-menu__item-here"></span>
												<span class="m-menu__link-text">
													Franz Ferdinand
												</span>
											</a>
										</strong>
										<br/>
										<small>Folk, Blues</small>
									</div>									
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										91%(220)
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										66%
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										66%
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										91%(256)
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--metal m-badge--wide" >
										75%
									</span>
								</td>
								<td align="center">
									<span class="m-badge m-badge--success m-badge--wide" >
										66%
									</span>
								</td>
								<td>
									<i class="fa fa-ellipsis-h"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>